.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  color: #555;
  padding: 0.5em 0;
  transition: all 0.3s linear;
  cursor: pointer;
  margin: 0 0.7em;
  position: relative;
}

.icon::after {
  content: "";
  position: absolute;
  background: #222;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
}

.icon__list {
  font-size: 1.5rem;
}

.icon__title {
  display: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.icon:hover {
  color: #111;
}

.icon:hover::after {
  width: 100%;
}

.icon__image {
  height: 30px;
  object-fit: contain;
}

.icon__signout {
  display: none;
  position: absolute;
  left: 0%;
  top: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  padding: 1em;
  background: #fff;
  z-index: 20;
  text-align: center;
}

.icon__signout > button {
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.icon:nth-child(5):hover .icon__signout {
  display: block;
}

@media screen and (min-width: 850px) {
  .icon__title {
    display: block;
  }
}
